footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: var(--header-font-family);
	font-size: 32px;
	color: rgb(47, 14, 236);
}

.footer__name {
	color: rgb(197, 15, 48);
	padding-right: 20px;
}