.form {
	background-color: white;
	height: 70vh;
	width: 60%;
	border: 2px solid black;
	box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.697);
	border-radius: 50px;
	padding: 30px;
	margin-left: 30px;
	overflow-y: hidden;
	overflow-y: auto;
}

.form::-webkit-scrollbar {
	width: 10px;
}

.form::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px rgba(128, 128, 128, 0);
	border-radius: 40px;
}

.form::-webkit-scrollbar-thumb {
	background: var(--btn-color);
	border-radius: 10px;
}

.form::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}

.form__text {
	overflow: auto;

}

.title {
	font-family: var(--header-font-family);
	font-size: 38px;
}

.btn {
	background-color: var(--btn-color);
	padding: 10px 20px;
	margin: 20px 10px 20px 20px;
	border: none;
	border-radius: 25px;
}

.btn:hover,
#temperature__input:hover {
	border: 1px solid black;
	background-color: #4449e7;
	color: white;
}

#temperature__input {
	background-color: rgba(251, 234, 175, 0.639);
	padding: 10px 20px;
	margin: 20px 10px 20px 0px;
	border: none;
	border-radius: 25px;
	width: 120px;
}

.active {
	background-color: rgb(255, 230, 0);
	box-shadow: 5px 5px 20px 10px rgba(243, 180, 23, 0.624);
	border: 1px solid white;
}

.off {
	background-color: red;
	box-shadow: 5px 5px 20px 10px rgba(243, 23, 23, 0.624);
	border: 1px solid white;
}

.cond__text {
	display: flex;
	align-items: center;
}

.cond__title {
	padding-right: 40px;
}

.actually-btn {
	width: 100%;
	background-color: #ec2b92;
}

.modal__content {
background-color: rgb(233, 197, 197);
width: 120px;
border-radius: 25px;
padding: 10px;
margin: 10px;
}