body {
	background-image: url(/img/home-bg.PNG);
}

.add-home {
	display: grid;
	grid-template-columns: 60% 40%;
	height: 100vh;
	align-items: center;
}

.add-home__title {
	font-family: var(--header-font-family);
	font-size: 48px;
	text-align: center;
	padding-bottom: 20px;
}

.add-home__form {
	background-color: white;
	height: 80vh;
	width: 60%;
	border: 2px solid black;
	box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.697);
	border-radius: 50px;
	padding: 30px;
	margin-left: 30px;
	overflow: auto;
}

.add-home__form::-webkit-scrollbar {
	width: 4px;
}

.add-home__form::-webkit-scrollbar-track {
	background-color: #88888800;
}

.add-home__form::-webkit-scrollbar-thumb {
	background-color: rgb(97, 208, 130);
	border-radius: 4px;
}

#rooms,
.new__items {
	background-color: rgb(197, 231, 251);
	border-radius: 25px;
	border: 2px solid black;
	padding: 10px;
	width: 53%;
	margin-right: 22px;
	font-size: 30px;
	font-family: var(--header-font-family);
	font-weight: 400;
}

#add-home__select__button,
.delete__elem-btn {
	background-color: rgb(97, 208, 130);
	border-radius: 25px;
	border: 2px solid black;
	padding: 10px;
	margin: 0;
	width: 40%;
	font-size: 30px;
	font-family: var(--header-font-family);
	font-weight: 400;
}

#selected-rooms {
	margin: 30px 0;
	font-family: var(--header-font-family);
	font-weight: 600;
	font-size: 36px;
	display: flex;
	flex-wrap: wrap;
}

.new__items,
.delete__elem-btn {
	margin-top: 20px;
}