.home {
	display: grid;
	grid-template-columns: 60% 40%;
	background-image: url(../img/home-bg.PNG);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	align-items: center;
}

h1 {
	font-size: 56px;
	font-family: var(--header-font-family);
	margin-bottom: 25px;
}

.home__banner-text {
	padding-left: 30px;
	font-family: var(--header-font-family);
	font-weight: 400;
	font-size: 24px;
}

.home__banner-btn {
	font-family: var(--header-font-family);
	background-color: rgb(97, 208, 130);
	border: none;
	border-radius: 25px;
	padding: 14px 34px;
	margin-top: 25px;
}

.home__text-items {
	font-family: var(--header-font-family);
	font-weight: 700;
}

.transition {
  transition: background-color 0.5s ease-in-out;
}
