body {
	background-image: url(../../img/home-bg.PNG);
	height: 100vh;
	overflow: hidden;
}

h1 {
	font-size: 56px;
	font-family: var(--header-font-family);
	margin-bottom: 25px;
	text-align: center;
	padding: 20px;
}

.my-home {
	position: absolute;
	display: grid;
	grid-template-columns: 60% 40%;
	align-items: center;
}

.my-home__photo {
	position: relative;
	display: flex;
	align-items: center;
}

.option__container {
	position: absolute;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column-reverse;
}

.option__item {
	width: 80px;
	height: 80px;
	background-color: blue;
	color: white;
	border-radius: 50%;
	border: 2px solid black;
}

.option__item:hover {
	box-shadow: 5px 5px 50px 20px rgba(252, 231, 43, 0.717);
	background-color: rgba(245, 245, 125, 0.476);
	border: 2px solid white;
	width: 100px;
	height: 100px;
}

.option__icon {
	width: 90%;
}


.nav-tabs {
	overflow-x: auto;
	display: flex;
	flex-wrap: nowrap;
}

.nav-tabs::-webkit-scrollbar {
	width: 0px;
}

.tabs-item {
	font-family: var(--header-font-family);
	font-size: 30px;
	padding: 14px 20px 14px 10px;
	border-bottom: 2px solid blue;
}

.tabs-item:hover {
	border-left: 2px solid blue;
	border-top: 2px solid blue;
	border-right: 2px solid blue;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom: 0;
	cursor: pointer;
	font-size: 40px;
	text-shadow: 10px 10px 20px blue;
}