body {
	background-image: url(../../img/home-bg.PNG);
	height: 100vh;
	overflow: hidden;
}

h1 {
	font-size: 56px;
	font-family: var(--header-font-family);
	margin-bottom: 25px;
	text-align: center;
	padding: 20px;
}

.my-home {
	position: absolute;
	display: grid;
	grid-template-columns: 60% 40%;
	align-items: center;
}

.my-home__photo {
	position: relative;
	display: flex;
	align-items: center;
}

.option__container {
	position: absolute;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column-reverse;
}

.option__item {
	width: 80px;
	height: 80px;
	background-color: blue;
	color: white;
	border-radius: 50%;
	border: 2px solid black;
}

.option__item:hover {
	box-shadow: 5px 5px 50px 20px rgba(252, 231, 43, 0.717);
	background-color: rgba(245, 245, 125, 0.476);
	border: 2px solid white;
	width: 100px;
	height: 100px;
}

.option__icon {
	width: 90%;
}

.tabs-item {
font-family: var(--header-font-family);
font-size: 42px;
}