@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}

.container {
	padding: 0 100px;
	margin: 0 auto;
	max-width: 1400px;
}

:root {
--header-font-family: 'Yanone Kaffeesatz', sans-serif; 
--text-font-family: 'Caveat', cursive;
--btn-color:  rgb(97, 208, 130);
}